{% extends "base.html" %}

{% block announce %}
Easy-QFNU站点正在重做中，如有浏览需要，请移步至原页面：<a href="https://blog.w1ndys.top/posts/216d9006/"
    target="_blank">https://blog.w1ndys.top/posts/216d9006/</a>
{% endblock %}

{% block styles %}
{{ super() }}
<!-- Sakana Widget CSS -->
<!-- <style>
    @media (max-width: 768px) {
        #left_layer {
            display: none;
        }
    }

    @media (min-width: 769px) {
        #left_layer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
</style> -->


<!-- Waline CSS -->
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
{% endblock %}

{% block content %}
{{ super() }}
<!-- Sakana Widget -->
<!-- <div id="left_layer">
    <div id="sakana-widget"></div>
    <script>
        function initSakanaWidget() {
            new SakanaWidget().mount('#sakana-widget');
        }
    </script>
    <script async onload="initSakanaWidget()"
        src="https://cdn.jsdelivr.net/npm/sakana-widget@2.2.2/lib/sakana.min.js"></script>
</div> -->
{% endblock %}