{% extends "base.html" %}

{% block announce %}
站点施工中，页面内容仍不完善，如果有老生想添加内容，欢迎<a href="https://blog.W1ndys.top/html/QQ">联系作者</a>，欢迎关注微信公众号「<a
    href="/Start/VXGZH.png">W1ndys</a>」防迷路，欢迎加入QQ群「<a
    href="https://qm.qq.com/q/VFWJvHW3yW">497554955</a>」参与讨论。本站已部署响应式布局，<span
    style="color:#FF6666;">移动端左上角菜单按钮可以快速翻页</span>。
{% endblock %}

{% block styles %}
{{ super() }}
<!-- Sakana Widget CSS -->
<!-- <style>
    @media (max-width: 768px) {
        #left_layer {
            display: none;
        }
    }

    @media (min-width: 769px) {
        #left_layer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
</style> -->


<!-- Waline CSS -->
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
{% endblock %}

{% block content %}
{{ super() }}
<!-- Sakana Widget -->
<!-- <div id="left_layer">
    <div id="sakana-widget"></div>
    <script>
        function initSakanaWidget() {
            new SakanaWidget().mount('#sakana-widget');
        }
    </script>
    <script async onload="initSakanaWidget()"
        src="https://cdn.jsdelivr.net/npm/sakana-widget@2.2.2/lib/sakana.min.js"></script>
</div> -->
{% endblock %}