<!-- 51.la统计代码 -->
<meta name="baidu-site-verification" content="codeva-PVPowAylAl" />
<script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
<script>LA.init({ id: "3HxQRMoHKBJizCgs", ck: "3HxQRMoHKBJizCgs", autoTrack: true })</script>
<!-- 灵雀应用监控代码 -->
<script src="https://sdk.51.la/perf/js-sdk-perf.min.js" crossorigin="anonymous"></script>
<script>
    new LingQue.Monitor().init({ id: "3IBrkJCJsazCwcJx", sendSuspicious: true, sendSpaPv: true });
</script>