<!-- 设置是否开启编辑和查看源代码图标 -->
<!-- 如需隐藏，需要设置Markdown元数据hide的actions -->

{% if page.edit_url %}
{% if not 'actions' in page.meta.hide %}

<!-- Edit button -->
{% if "content.action.edit" in features %}
<a href="{{ page.edit_url }}" title="{{ lang.t('action.edit') }}" class="md-content__button md-icon">
    {% set icon = config.theme.icon.edit or "material/file-edit-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
</a>
{% endif %}

<!-- View button -->
{% if "content.action.view" in features %}
{% if "/blob/" in page.edit_url %}
{% set part = "blob" %}
{% else %}
{% set part = "edit" %}
{% endif %}
<a href="{{ page.edit_url | replace(part, 'raw') }}" title="{{ lang.t('action.view') }}"
    class="md-content__button md-icon">
    {% set icon = config.theme.icon.view or "material/file-eye-outline" %}
    {% include ".icons/" ~ icon ~ ".svg" %}
</a>
{% endif %}
{% endif %}
{% endif %}