// you can change config here
$theme-colors: #6C2A0A;

$pc: 1440px; // 电脑响应式布局断点，默认为 1440px
$laptop: 1280px; // 笔记本响应式布局断点，默认为 1280px
$pad: 959px; // 大型平板响应式布局断点，默认为 959px
$tablet: 768px; // 平板响应式布局断点，默认为 768px
$mobile: 480px; // 手机响应式布局断点，默认为 480px