details {
    max-width: 500px;
    overflow: hidden;
}

summary {
    display: block;
    /* This hides the summary's ::marker pseudo-element */
}

summary::-webkit-details-marker {
    display: none;
    /* This also hides the ::marker pseudo-element, but in Safari */
}

div.content {
    max-width: 500px;
    box-sizing: border-box;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    border: 2px solid transparent;
    transition: max-height 400ms ease-out, border 0ms 400ms linear;
}

details[open]+div.content {
    max-height: 800px;
    /* Set a max-height value enough to show all the content */
    border-color: #888;
    transition: max-height 400ms ease-out, border 0ms linear;
}

details[open] span::before {
    rotate: 90deg;
    transition: rotate 200ms ease-out;
}